<div>
  <form>
      <div>
          <input type="email" name="email" placeholder="Email">
      </div>
      <div>
          <input type="password" name="password" placeholder="Contraseña">
      </div>
      <div>
          <button type="submit">
              Enviar
          </button>
      </div>
  </form>
</div>
